﻿<div>
    <h1 class="text-center">
        <span ng-hide="candidatesData">Carregando...</span>
    </h1>

    <div class="panel  panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <span>
                    Candidatos <span class="badge">{{candidatesData.length}}</span>
                    <input ng-model="searchText" placeholder="Encontrar candidatos..." class="form-control input-sm">
                </span>
            </form>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" ng-click="new()"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="candidate in candidatesData | filter:searchText" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <a href="#/rh/Candidates/{{candidate.Id}}">
                                    {{candidate.Name}}
                                </a>
                                <small>{{candidate.Id}}</small>
                                <button type="button" title="Excluir" class="btn btn-danger" ng-click="delete(candidate.Id)"><i class="glyphicon glyphicon-trash"></i></button>
                                <button type="button" title="Alterar" class="btn btn-primary" ng-click="alter(candidate)"><i class="glyphicon glyphicon-pencil"></i></button>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>