﻿<div>
    <h1 class="text-center">
        <span ng-hide="opportunityData && candidatesData">Carregando...</span>
    </h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            {{opportunityData.Name}}
                            <small>{{opportunityData.id}}</small>
                        </h4>
                    </div>
                </div>
                <span>
                    Candidatos <span class="badge">{{candidatesData.length}}</span>
                    <input ng-model="searchText" placeholder="Encontrar candidatos..." class="form-control input-sm">
                </span>
            </form>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="candidate in candidatesData | filter:searchText" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <strong>{{candidate.Score}}</strong>
                                <a href="#/rh/Candidates/{{candidate.Id}}">
                                    {{candidate.Name}}
                                </a>
                                <small>{{candidate.Id}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>