﻿<div>
    <h1 class="text-center">
        <span ng-hide="opportunitiesData">Carregando...</span>
    </h1>

    <div class="panel  panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <span>
                    Vagas <span class="badge">{{opportunitiesData.length}}</span>
                    <input ng-model="searchText" placeholder="Encontrar vagas..." class="form-control input-sm">
                </span>
            </form>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="opportunity in opportunitiesData | filter:searchText" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <a href="#/rh/Opportunities/{{opportunity.Id}}">
                                    {{opportunity.Name}}
                                </a>
                                <small>{{opportunity.Id}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>