﻿<div>
    <h1 class="text-center">
        <span ng-hide="technologiesData">Carregando...</span>
    </h1>

    <div class="panel  panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <span>
                    Tecnologias <span class="badge">{{technologiesData.length}}</span>
                    <input ng-model="searchText" placeholder="Encontrar tecnologias..." class="form-control input-sm">
                </span>
            </form>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="technology in technologiesData | filter:searchText" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <a href="#/rh/Technologies/{{technology.Id}}">
                                    {{technology.Name}}
                                </a>
                                <small>{{technology.Id}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>