﻿<div>
    <h1 class="text-center">
        <span ng-hide="usersData">Carregando...</span>
    </h1>

    <div class="panel  panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <span>
                    Usuários <span class="badge">{{usersData.length}}</span>
                    <input ng-model="searchText" placeholder="Encontrar usuário..." class="form-control input-sm">
                </span>
            </form>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="user in usersData | filter:searchText" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                <a href="#/github/{{user.login}}">
                                    {{user.login}}
                                </a>
                                <small>{{user.id}}</small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>