﻿<div>
    <h1 class="text-center">
        <span ng-hide="userData && userReposData">Carregando...</span>
    </h1>

    <div class="panel  panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            {{userData.login}}
                            <small>{{userData.id}}</small>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            {{userData.html_url}}
                            <small>{{userData.created_at | date}}</small>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <span>
                            Repositórios <span class="badge">{{userReposData.length}}</span>
                            <input ng-model="searchText" placeholder="Encontrar repositórios..." class="form-control input-sm">
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div ng-repeat="repo in userReposData | filter:searchText" class="list-group-item ">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                {{repo.name}}
                                <small>{{repo.id}}</small>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                {{repo.html_url}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>